body{
	background:url(imagenes/fondo.jpg);
}
h1, h2, h3{
	color: #FFFFFF;
}
label{
	color: #FFFFFF;
}
.logo{
	width:200px;
}
#contenedor_center{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: nowrap;
}

#contenedor_left{
	display: flex;
	flex-direction: row;
	justify-content: flex-star;
	align-items: stretch;
	flex-wrap: nowrap;
}
.hijo-c2{
	margin-left:100px;
}
